.about-us {
  display: block;
  box-sizing: border-box;
  width: 1440px;
  max-width: 100%;
  padding: 151px 15px 130px;
  margin-left: auto;
  margin-right: auto;

  background-color: $white;

  @media (max-width: $tablet-width-max) {
    padding-top: 0;
    padding-bottom: 49px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 52px;
    padding-bottom: 70px;
  }
}

.about-us__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $black-three;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-max) {
    margin-right: -1px;
    margin-left: -1px;
  }
}


.about-us__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
  // flex-wrap: wrap;
  justify-content: center;
  max-width: 1166px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  counter-reset: facts;


  @media (max-width: $tablet-width-max) {
    max-width: none;
    margin-right: 100px;
    margin-left: 100px;

    gap: 21px 47px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mobile-width-max) {
    gap: 35px 0;
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.about-us__list-item {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-height: 143px;
  gap: 15px;

  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $black;
  letter-spacing: -0.5px;

  &::before {
    content: counter(facts, decimal-leading-zero);

    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $aqua;
    letter-spacing: -1.27px;

    counter-increment: facts;
  }

  @media (max-width: $tablet-width-max) {
    gap: 17px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 125px;
    gap: 9px;

    font-size: 18px;
    line-height: 34px;
  }
}
