.feedback {
  display: flex;
  flex-direction: column;
  width: 327px;
  margin-left: auto;

  @media (max-width: $tablet-width-max) {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    background-color: $white;
    color: $black;
  }

  @media (max-width: $mobile-width-max) {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
}

.feedback__text {
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    width: 321px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.feedback__input-text {
  padding: 13px 30px 9px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $black-two;
  letter-spacing: 0.2px; // pixel-perfect
  border-radius: 6px;
  border: 1px solid $border-color;

  & + .feedback__input-text {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width-max) {
    width: 321px;
    padding: 13px 20px 9px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    max-width: 100%;
    margin-right: 16px;
    margin-left: 16px;
    padding: 13px 25px 9px;
  }
}

.feedback__button-submit {
  margin-top: 20px;
  padding: 17px 13px 13px;

  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  border-radius: 6px;
  background-color: $aqua;
  border: none;

  @media (max-width: $tablet-width-max) {
    width: 321px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    margin-top: 19px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 15px 10px 14px;
    box-sizing: border-box;
  }
}
