.site-list {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  max-width: 876px;
  margin: 0;
  padding: 0 0 8px;
  list-style: none;
  border-bottom: 1px solid rgba($white, 0.2);

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    max-width: none;
    padding-bottom: 0;
  }
}

.site-list__item {
  text-align: center;
  margin-right: auto;

  &:first-child {
    margin-left: 21px;
  }

  &:last-child {
    margin-right: 22px;
  }

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
    background-color: $grey;
    color: black;

    &:first-child {
      margin-top: 100px;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 30px;
    }

    & + .site-list__item {
      margin-top: 30px;
    }
  }
}

.site-list__link {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.02em;; // or -0.5%
  font-weight: 300;
  color: rgba($white, 0.7);
  text-decoration: none;
  text-align: center;
  // border: 2px solid green;

  @media (max-width: $tablet-width-max) {
    display: block;
    padding: 15px;
    color: $dark-grey;
    text-align: left;
  }
}
