.site-list {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  max-width: 877px;
  margin: 0;
  padding: 0 0 8px;
  list-style: none;
  border-bottom: 1px solid rgba($white, 0.2);
}

.site-list__item {
  text-align: center;
  margin-right: auto;
  // outline: 1px solid red;

  &:first-child {
    margin-left: 21px;
  }

  &:last-child {
    margin-right: 21px;
  }
}

.site-list__link {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.02em;; // or -0.5%
  font-weight: 300;
  color: rgba($white, 0.7);
  text-decoration: none;
  text-align: center;
  // border: 2px solid green;
}
