// Ширины
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
// Цвета
$white: #ffffff;
$black: #000000;
$black-two: #1c1c1c;
$black-three: #1f1f1f;
$aqua: #0ad9c6;
$border-color: #c9ccd4;
$grey: #f6f6f6;
$grey-two: #2c2e3f; // у стрелки еще полупрозрачность 0,5
$dark-grey: #48494d;
// Фоновые цвета
$promo-back: #3b3c3c;
$video-back: #131314;
$map-back: #7eaad4;
$catalog-back: #f6f7f9;
