.video-bikes {
  padding-top: 121px;

  background-color: $video-back;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 84px;
  }
}

.video-bikes__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
  }
}

.video-bikes__text {
  max-width: 340px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;

  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: rgba($white, 0.7);

  @media (max-width: $tablet-width-max) {
    max-width: 429px;
    margin-bottom: 40px;
    padding: 0 16px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 50px;
  }
}

.video-bikes__wrapper {
  position: relative;
  max-width: 929px;
  width: 100%;
  max-height: 522px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  top: 100px;

  background-color: $black-two;
  background-image: url("../img/video-bike.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-bike@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    width: calc(100% - 264px);
    margin-top: -85px;
    top: 85px;
  }

  @media (max-width: $mobile-width-max) {
    width: calc(100% - 32px);
    margin-top: -46px;
    top: 48px;
  }
}

.video-bikes__video {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.video-bikes__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border: none;

  background-color: $aqua;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: 65px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    box-shadow: 0 0 3px $aqua;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width-max) {
    width: 90px;
    height: 90px;
    background-size: 90px;
  }

  @media (max-width: $mobile-width-max) {
    width: 65px;
    height: 65px;
    background-size: 65px;
  }
}
